<html>

<body>

    {% block content %}
    <h1> {{ category.name}} 
        <div class=" creator">
            <img src="{{creator.picture}}">
            <figcaption>{{creator.name}}</figcaption>
        </h1>

        </div>


    {% with messages = get_flashed_messages() %} {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{message}} </strong></li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div>
    <a href="{{url_for('newitems' , category_id = category.id)}}">
            Add newItem </a>
        <br>
        

    <a href="{{url_for('Deletecategory' , category_id = category.id)}}">
            Delete Catagory </a>
        <br>
        <br>

        {% for item in items %} {{item.name}}
        <br> {{item.description}}
        <br> 
         <img src="{{item.img_url}}" alt="Cover art" style ="width:150px ; height=150px " class="coverurl" />
        <br>
        
        

        <a href="{{url_for('edititem', category_id = category.id ,
        items_id = item.id)}}">
            Edit  </a>
       

        <a href="{{url_for('deleteitem', category_id = category.id,
            items_id = item.id)}}"> Delete </a>
        <br> <br>{% endfor %}

        <a href="{{url_for('Showcategories')}}">Back to category </a>
    </div>
    {% endblock %}
</body>

</html>