<!DOCTYPE html>
<html>
<body>
    <h1> New MenuItem </h1>
        <form action = # method="POST">
            <label> Name : </label>
            <input type="text" maxlength="30" name="name" placeholder="Name of item">
            <br>
            <br>
            <label> Description :</label>
            <input type="text" maxlength="250" row="3" name="description"
            placeholder = "Description of item">
            <br>
            <br>

            <input type="submit" value="Create">


</body>
</html>